nav {
	align: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #800;
	width: 90%;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover:not(.active) {
	background-color: #FFD700;
}

.active {
	background-color: #111;
}

.discord-link {
	background-color: #738ADB;
}