.div blog-div {
	width: 70%;
	text-align: left;
}

#blog-blurbs {
	width: 70%;
	margin: auto;
}

h1#tag-name {
	color: white;
}

.blurb {
	margin: 10px 10px;
	padding: 10px 10px;
	border: 1px solid black;
	border-radius: 10px;
}

.blurb-subtext {
	bottom: 0;
	text-align: center;
	display: block;
	color: white;
}

.date-blurb {
	font-size: 20px;
}

.author-blurb {
	font-size: 20px;
}

.tags-blurb a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

.icon {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	height: 20px;
}