.div-blog {
	width: 50%;
	text-align: left;
}

#blog-title {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-top: 20px;
}

#blog-date {
	font-size: 20px;
}

#blog-author {
	font-size: 20px;
}

#blog-tags a {
	color: gray;
	text-decoration: none;
	text-transform: uppercase;
}

#blog-contents {
	font-size: 20px;
}
#contents-blog p {
	font-size: 20px;
}

.blog-image-large {
	display: block;
	margin: 20px auto;
	width: 100%;
	text-align: center;
}

.blog-image-medium {
	display: block;
	margin: 20px auto;
	width: 75%;
	text-align: center;
}

.blog-image-small {
	display: block;
	margin: 20px auto;
	display: block;
	width: 50%;
}

.blog-image-tiny {
	display: block;
	margin: 20px auto;
	width: 25%;
}

.icon {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	height: 20px;
}

.subtitle-blog {
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
}

.div-bloghead {
	border: 3px solid grey;
	border-radius: 20px;
	margin: 20px 40px;	
}