.div blog-div {
	width: 70rem;
	text-align: left;
}

#blog-blurbs {
	width: 70%;
	margin: auto;
}

.blurb {
	margin: 0.625rem 0.625rem;
	padding: 0.625rem 0.625rem;
	border: 0.125rem solid black;
	border-radius: 0.625rem;
	width: 30%;
	background-color: rgba(117,146,190,0.9);
	display: inline-block;
	vertical-align: top;
}

.title {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1.25rem;
	text-align: center;
	display: block;
}

.blurb-subtext {
	text-align: center;
	display: block;
}

.date-blurb {
	font-size: 1.25rem;
	color: white;
}

.author-blurb {
	font-size: 1.25rem;
	color: white;
}

.tags-blurb a {
	text-decoration: none;
	/* text-transform: uppercase; */
	color: white;
}

.icon {
	display: inline-block;
	margin-left: 0.375rem;
	margin-right: 0.375rem;
	height: 1.25rem;
}

.blog-thumbnail {
	max-width: 90%;
	margin: auto;
	padding-top: 1.875rem;
	display: block;
	cursor: pointer;
}

.blog-title {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1.25rem;
	text-align: center;
	display: block;
	color: white !important;
	text-decoration: none;
}

.blog-tag {
	/* background-color: green; */
	margin: 0 5px;
	padding: 4px;
	border: 2px solid black;
  background: #2f4770;
	border-radius: 10px;
}

.section-header {
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
	color: #fff;
	margin-top: 1.875rem;
	margin-bottom: 1.875rem;
}

.text {
	font-size: 1.25rem;
	color: white;
	margin-left: 20%;
	margin-right: 20%;
}

.round-header {
	margin: auto;
	text-align: center;
}

#rounds-div {
	width: 90%;
	margin: auto;
	color: white;
}

.tags-blurb {
	color: white;
	padding-top: 10px;
	display: inline-flex;
	/* vertical-align: bottom; */
}

.tags-start {
	color: white;
}
