#left-btn {
	color: white;
	height: 4rem;
	font-weight: bolder;
	font-size: 4rem;
	float: left;
	width: 3.125rem;
	padding-left: 5rem;
	padding-top: 1.88rem;
}

#right-btn {
	color: white;
	height: 4rem;
	font-weight: bolder;
	font-size: 4rem;
	float: right;
	width: 3.125rem;
	padding-right: 5rem;
	padding-top: 1.88rem;
}

button span {
	display: none;
}

.arrowicon{
	color:white;
	font-size: 4rem;
}

.round-table thead {
	visibility: collapse;
}

tr.match-win {
	background: #AACCFF;
}

tr.match-loss {
	background: #FFAAAA;
}

tr.match-unplayed {
	background: white;
}

.mapimgs {
	margin: 0 auto;
}

.mapwin {
	position: relative;
	display: inline-block;
	float: left;
	height: 4rem;
	border: 0.25rem solid #AACCFF;
	margin: 0.188rem 0.188rem;
}
.mapwin img {
	display: block;
	height: 4rem;
}

.maploss {
	position: relative;
	display: inline-block;
	float: left;
	height: 4rem;
	border: 0.25rem solid #FFAAAA;
	margin: 0.188rem 0.188rem;
}
.maploss img {
	height: 4rem;
	display: block;
}

.mapdraw {
	position: relative;
	display: inline-block;
	background: rgb(85,85,85);
	float: left;
	height: 4rem;
	border: 0.25rem solid #555555;
	margin: 0.188rem 0.188rem;
}
.mapdraw img {
	display: block;
	opacity: 0.8;
	height: 4rem;
}

.round-table {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	width: 100%;
	table-layout: fixed;
	font-size: 1.125rem;
	font-weight: bold;
}
.round-table th {
	height: 4.375;
	width: 20%;
}

.round-table thead tr {
	background-color: #800;
	text-align: center;
	color: white;
	padding: 1.25rem 1.25rem;
	text-decoration: none;
	border: 0.125rem solid black;
}

.round-table tbody tr {
	background-color: white;
	text-align: center;
	padding: 1.25rem;
	height: 8rem;
	text-decoration: none;
	border: 0.125rem solid black;
}

.round-table tbody tr td {
	height: 8rem;
}

.table-img {
	display: block;
	height: 100%;
	margin: auto;
}

.blue-team {
	background: #AACCFF;
}

.red-team {
	background: #FFAAAA;
}

.sched-header {
	display: inline-block;
	font-size: 4rem;
	width: 60%;
	color: white;
}

.round-header {
	font-size: 2.5rem;
	color: #ccc;
}

.left-float {
	float: left;
	padding-left: 0.625rem;
	text-align: left;
}

.right-float {
	padding-right: 0.625rem;
	text-align: right;
}

.schedule-team-name {
	margin: auto;
	word-wrap: break-word;
	font-size: 1.875rem;
}

p.match-score {
	font-size: 2.5rem;
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
	font-weight: bold;
}