html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body 

.headerSortDown:after,
.headerSortUp:after {
  content: ' ';
  position: relative;
  left: 2px;
  border: 8px solid transparent;
}

.headerSortDown:after {
  top: 10px;
  border-top-color: silver;
}

.headerSortUp:after {
  bottom: 15px;
  border-bottom-color: silver;
}

.headerSortDown,
.headerSortUp {
  padding-right: 10px;
}

h1.center {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	font-weight: bold;
	padding: 15px;
}

.auto-plink {
	text-decoration: none;
	color: inherit;
}

/* navbar */
.discord {
	background-color: #7289DA;
}
img.navbar-logo {
  width: 400px;
  height: 75px;
}

.navbar {
  background-color: white;
  display: flex;
  align-items: center;
}

.navbar a,
.navbar a:link,
.navbar a:visited,
.navbar a:active {
  display: block;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
}

.nav-right {
	float: right;
	font-size: 16px;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-left {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  font-weight: bold;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}



.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
	background-color: maroon;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 200px;
}

#twitch-embed {
	align: center;
	padding: 50px 50px;
}

.center {
	margin: auto;
	text-align: center;
}

.notice {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	width: 50%;
	border-radius: 25px;
	border: 4px solid red;
}

h1.center {
	text-align: center;
}

nav {
	text-align: center;
	margin: auto;
	width: 50%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #800;
	text-align: center;
}

nav ul li {
	float: left;
	display: inline;
}

nav ul li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover:not(.active) {
	background-color: #FFD700;
}

.active {
	background-color: #111;
}

.discord-link {
	background-color: #738ADB;
}

.table {
	width: 70%;
	table-layout: fixed;
	font-size: 18px;
	font-weight: bold;
	border: 3px solid black;
}

.table th {
	height: 70px;
	width: 20%;
}

.table thead tr {
	background-color: white;
	text-align: center;
	color: black;
	padding: 20px 20px;
	text-decoration: none;
	border: 2px solid black;
}

td.team-name {
	text-align: left;
	padding-left: 10px;
}

td {
	text-align: center;
}

.table tbody tr:nth-child(even) {
	background-color: #ffde7a;
}

.table tbody tr:nth-child(odd) {
	background-color: #d5d6d2;
}

.page-container {
	padding-top: 50px;
}