html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.nav-bg {
    background-color: #ddd;
}

.nav-link {
	color: rgba(0,0,0,0.55) !important;
	font-size: 20px;
}

.gwl-style-header {
	font-weight: 400 !important;
}

.headerSortDown:after,
.headerSortUp:after {
  content: ' ';
  position: relative;
  left: 2px;
  border: 8px solid transparent;
}

.headerSortDown:after {
  top: 10px;
  border-top-color: silver;
}

.headerSortUp:after {
  bottom: 15px;
  border-bottom-color: silver;
}

.headerSortDown,
.headerSortUp {
  padding-right: 10px;
}

h1.center {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	font-weight: bold;
	padding: 15px;
}

.auto-plink {
	text-decoration: none;
	color: inherit;
}

body {
	background-color: maroon;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 200px;
}

.center {
	margin: auto;
	text-align: center;
}

.notice {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	width: 50%;
	border-radius: 25px;
	border: 4px solid red;
}

h1.center {
	text-align: center;
}

.table {
	width: 70%;
	table-layout: fixed;
	font-size: 18px;
	font-weight: bold;
	border: 3px solid black;
}

.table th {
	height: 70px;
	width: 20%;
}

.table thead tr {
	background-color: white;
	text-align: center;
	color: black;
	padding: 20px 20px;
	text-decoration: none;
	border: 2px solid black;
}

td.team-name {
	text-align: left;
	padding-left: 10px;
}

td {
	text-align: center;
}

.table tbody tr:nth-child(even) {
	background-color: #ffde7a;
}

.table tbody tr:nth-child(odd) {
	background-color: #d5d6d2;
}

.page-container {
	padding-top: 50px;
}

span.spoiler {
	color: transparent;
	text-shadow: 0 0 20px black;
}
span.spoiler:hover {
	color: black;
	text-shadow: none;
}