tr.match-win {
	background: #AAFFAA;
}

tr.match-loss {
	background: #FF9999;
}

tr.match-unplayed {
	background: white;
}

.mapimgs {
	margin: 0 auto;
}

.mapwin {
	position: relative;
	display: inline-block;
	float: left;
	width: 64px;
	border: 2px solid #00FF00;
}
.mapwin img {
	display: block;
	width: 64px;
	opacity: 0.8;
}

.maploss {
	position: relative;
	display: inline-block;
	float: left;
	width: 64px;
	border: 2px solid #FF0000;
}
.maploss img {
	width: 64px;
	display: block;
}

.mapdraw {
	position: relative;
	display: inline-block;
	background: rgb(85,85,85);
	float: left;
	width: 64px;
	border: 2px solid #888888;
}
.mapdraw img {
	display: block;
	opacity: 0.8;
	width: 64px;
}
.team-page-container {
	background-color: white;
	width: 70%;
}

.grid-container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  display: grid;
  grid-template-columns: 25% 30% 45%;
  grid-template-rows: 33% 33% 33%;
  gap: 5px 5px;
  padding: 10px;
  grid-template-areas:
    "image TeamName TeamName"
    "image LeagueStats LeagueStats"
    "image LeagueRank LeagueRank";
}

.image { grid-area: image; }

.TeamName { grid-area: TeamName; }

.Division { grid-area: Division; }

.LeagueStats { grid-area: LeagueStats; }

.DivStats { grid-area: DivStats; }

.LeagueRank { grid-area: LeagueRank; }

.DivRank { grid-area: DivRank; }

span#team-page-name {
	font-weight: bold;
	font-size: 40px;
}

span#team-page-div {
	margin-left: 10px;
	font-size: 30px;
	color: gray;
}

span#team-page-league-matches {
	font-size: 30px;
	font-weight: bold;
}

span#team-page-league-maps {
	font-size: 30px;
	color: gray;
	padding-left: 30px;
}

span#team-page-div-matches {
	font-size: 30px;
	color: gray;
}

span#team-page-div-maps {
	font-size: 30px;
	color: grey;
}

span#team-page-league-rank {
	font-size: 30px;
}

span#team-page-div-rank {
	font-size: 30px;
	color: gray;
}

#team-page-icon {
	height: 200px;
}

.image img {
	float: right;
	padding-right: 20px;
}

.ttable {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	table-layout: fixed;
	font-size: 18px;
	font-weight: bold;
	border: 3px solid black;
	border-collapse: collapse;
}

#mapTable {
	width: 50%;
}

.ttable th {
	height: 70px;
	width: 20%;
}

.ttable thead tr {
	background-color: #800;
	text-align: center;
	color: white;
	padding: 20px 20px;
	text-decoration: none;
	border: 2px solid black;
}

.ttable tbody tr {
	text-align: center;
	padding: 20px;
	text-decoration: none;
	border: 2px solid black;
}

#mapTable tbody tr {
	padding: 1px;
	height: 70%;
}

.ttable tbody tr:nth-child(even) {
	background-color: #d5d6d2;
}

.ttable tbody tr:nth-child(odd) {
	/*background-color: #d5d6d2;*/
}